.no1{
    color: #06D6A0;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
text-align: center;
}
.no2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    color: #118AB2;
    text-align: center;
}
.no3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    color: #EF476F;
    text-align: center;
}